body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-span {
  color: #2e2f42;
}
.header-nav-list {
  list-style-type: none;
}
.header-nav-list a {
  color: #2e2f42;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}
.header-nav-list a:hover,
.header-nav-list a:focus {
  color: #404bbf;
}
.header-address {
  line-height: 150%;
  font-style: normal;
}
.header-address ul {
  list-style-type: none;
}
h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  text-align: center;
}
.solution-container {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  padding-left: 472px;
  padding-right: 472px;
}
.btn {
  color: #ffffff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.benefits-list {
  list-style-type: none;
}
.team {
  background-color: #f4f4fd;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.team-list {
  list-style-type: none;
}
.portfolio-list {
  list-style-type: none;
}
